.body{
  margin:80px auto;
  width: fit-content;
}
.search{
  margin-bottom: 10px;
  width: 30%;
  font-size: 18px;
 
}

table{
  border: 1px solid black;
  width: 800px;
  text-align: center;
}
th,td{
  border: 1px solid black;
}

.add{
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
}

.edit{
  margin-right: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.delete{
  background-color: red;
  color: white;
  cursor: pointer;
}

.add-form{
  width: 778px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid yellowgreen;
  background-color: yellowgreen;
  padding: 10px;
  margin-bottom: 10px;
}

.add-form div{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.add-form input{
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.add-form button{
  padding: 5px 40px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(35, 43, 35);
  color: white;
}